@import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css");

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Oswald/static/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Indie Flower";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
}

:root {
    --qp-primary: #435259;
    --qp-primary-lighten-1: #4e5f68;
    --qp-primary-lighten-2: #596d76;
    --qp-primary-lighten-3: #647a85;
    --qp-primary-lighten-4: #6f8793;
    --qp-primary-lighten-5: #7e949e;
    --qp-primary-lighten-6: #8ca0a9;
    --qp-primary-lighten-7: #9bacb4;
    --qp-primary-lighten-8: #b8c4ca;
    --qp-primary-lighten-9: #c7d0d5;
    --qp-primary-darken-1: #38454a;
    --qp-primary-darken-2: #2d373c;
    --qp-primary-darken-3: #222a2d;
    --qp-primary-darken-4: #171c1f;
    --qp-primary-darken-5: #0c0f10;
    --qp-primary-darken-6: #010202;
    --qp-secondary: #8f999d;
    --qp-accent: #d3b018;
    --qp-base: #dbe0e2;
    --qp-bg: #c9cfd1;
}
html, body {
    background-color: var(--qp-bg);
    color: var(--qp-primary);
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 120%;
    padding: 0;
    margin: 0;
}

a, a:link, a:visited {
    color: var(--qp-primary);
    text-decoration: none;
    transition: color 0.3s;
}
a:focus, a:hover {
    color: var(--qp-accent);
    text-decoration: none;
}

/* ===--- QPSTRAP ---=== */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* ===--- APP ---=== */

#app {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: block;
    height: 100vh;
}

#qp-app-main {
    background-color: transparent;
    font-size: 16px;
    line-height: 120%;
    vertical-align: top;
    display: inline-block;
    height: calc(100vh - 64px);
    width: calc(100vw - 300px - 64px);
}
@media (max-width: 1199px) {
    #qp-app-main {
        width: 80vw;
        max-width: calc(100vw - 64px - 64px);
    }
}

.qp-vue {
    padding: 0;
}
.qp-container {
    max-width: 1024px;
    padding: 20px;
    margin: 0 auto;
}

#app .qp-flex-column {
    display: flex;
    flex-direction: column;
}

/* ===--- FORUM ---=== */

.qp-forum-breadcrumbs {
    font-size: 12px;
    line-height: 120%;
    padding: 0;
    margin: 0;
}
.qp-forum-breadcrumbs ul {
    vertical-align: middle;
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.qp-forum-breadcrumbs li {
    vertical-align: middle;
    list-style: none;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 0.3s;
    padding: 8px 12px 8px 0;
    margin: 0;
}
.qp-forum-breadcrumbs li:hover {
    cursor: pointer;
    opacity: 1;
}
.qp-forum-breadcrumbs li::before {
    content: "\F0142";
    font: normal normal normal 12px/12px "Material Design Icons";
    display: inline-block;
    margin: 0 8px 0 0;
}

.qp-forum-header {
    padding: 12px;
}
.qp-forum-header-title {
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    padding: 0 30% 12px 0;
    margin: 0;
}
.qp-forum-header-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 1px;
    position: relative;
    padding: 0 30% 32px 0;
    margin: 0;
}
.qp-forum-header-description::after {
    content: "";
    background-color: var(--qp-primary);
    display: block;
    width: 64px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 12px;
}
@media (max-width: 1199px) {
    .qp-forum-header h2,
    .qp-forum-header p {
        padding-right: 0;
    }
}

/* ===--- ---=== */

.qp-forum.qp-singleton-index .qp-forum-territories,
.qp-forum.qp-singleton-zone .qp-forum-territories,
.qp-forum.qp-singleton-territory .qp-forum-sectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.qp-forum.qp-singleton-index .qp-forum-territory,
.qp-forum.qp-singleton-zone .qp-forum-territory,
.qp-forum.qp-singleton-territory .qp-forum-sector {
    box-sizing: border-box;
    flex: 0 0 50%;
    padding: 12px;
}

.qp-forum.qp-singleton-index .qp-forum-territory-inner,
.qp-forum.qp-singleton-zone .qp-forum-territory-inner,
.qp-forum.qp-singleton-territory .qp-forum-sector-inner {
    background-color: var(--qp-base);
    border-radius: 4px;
    box-shadow: 0 0 3px rgb(67, 82, 89, 4%);
    text-align: center;
    padding: 12px;
}

.qp-forum.qp-singleton-index .qp-forum-territories .qp-forum-header,
.qp-forum.qp-singleton-zone .qp-forum-territories .qp-forum-header,
.qp-forum.qp-singleton-territory .qp-forum-sectors .qp-forum-header {
    padding: 0;
}

.qp-forum.qp-singleton-index .qp-forum-territories .qp-forum-header-title,
.qp-forum.qp-singleton-zone .qp-forum-territories .qp-forum-header-title,
.qp-forum.qp-singleton-territory .qp-forum-sectors .qp-forum-header-title {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    padding: 0;
}

.qp-forum.qp-singleton-index .qp-forum-territories .qp-forum-header-description,
.qp-forum.qp-singleton-zone .qp-forum-territories .qp-forum-header-description,
.qp-forum.qp-singleton-territory .qp-forum-sectors .qp-forum-header-description {
    display: none;
}

@media (max-width: 767px) {
    .qp-forum.qp-singleton-index .qp-forum-territory,
    .qp-forum.qp-singleton-zone .qp-forum-territory,
    .qp-forum.qp-singleton-territory .qp-forum-sector {
        flex-basis: 100%!important;
    }
}
