@import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css");

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Oswald/static/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Indie Flower";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
}

:root {
    --qp-primary: #435259;
    --qp-secondary: #8f999d;
    --qp-accent: #d3b018;
    --qp-base: #dbe0e2;
    --qp-bg: #c9cfd1;
}
html, body {
    background-color: var(--qp-bg);
    color: var(--qp-primary);
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

a, a:link, a:visited {
    color: var(--qp-primary);
    text-decoration: none;
    transition: color 0.3s;
}
a:focus, a:hover {
    color: var(--qp-accent);
    text-decoration: none;
}

/* ===--- QPSTRAP ---=== */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* ===--- APP ---=== */

#app {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: block;
    height: 100vh;
}

#qp-app-main {
    background-color: transparent;
    font-size: 16px;
    line-height: 120%;
    vertical-align: top;
    display: inline-block;
    height: calc(100vh - 64px);
    width: calc(100vw - 300px - 64px);
}
@media (max-width: 1199px) {
    #qp-app-main {
        width: calc(100vw - 64px - 64px);
    }
}

.qp-vue {
    padding: 20px;
}
