:root {
    --el-fill-color-blank: transparent;
    --el-menu-hover-bg-color: transparent;
    --el-color-primary: var(--qp-primary);
    --el-color-primary-light-3: var(--qp-primary-lighten-3);
    --el-color-primary-light-5: var(--qp-primary-lighten-5);
    --el-color-primary-light-7: var(--qp-primary-lighten-7);
    --el-color-primary-light-8: var(--qp-primary-lighten-8);
    --el-color-primary-light-9: var(--qp-primary-lighten-9);
    --el-color-primary-dark-2: var(--qp-primary-darken-2);
    --el-color-error: #bf0606;
    --el-color-error-light-3: #cebcbe;
    --el-color-error-light-5: #cebcbe;
    --el-color-error-light-7: #cebcbe;
    --el-color-error-light-8: #cebcbe;
    --el-color-error-light-9: #cebcbe;
    --el-color-error-dark-2: #c45656;
}

.el-alert.is-light .el-alert__close-btn {
    color: var(--qp-primary);
}

.el-avatar {
    --el-avatar-bg-color: var(--qp-default-disabled-bg);
    --el-avatar-text-color: var(--qp-default-disabled-txt);
}

.el-button {
    background-color: transparent;
    border-color: var(--qp-default-disabled-txt);
    color: var(--qp-default-disabled-txt);
    opacity: 0.6;
    transition: all 0.4s;
}
.el-button:not(.is-disabled):hover,
.el-button:not(.is-disabled):focus {
    background-color: transparent;
    border-color: var(--qp-default-txt);
    color: var(--qp-default-txt);
    opacity: 1;
}
.el-button:not(.is-disabled):active {
    background-color: transparent;
    border-color: var(--qp-default-txt);
    color: var(--qp-default-txt);
    opacity: 0.5;
}
.el-button.is-disabled,
.el-button.is-disabled:hover,
.el-button.is-disabled:focus,
.el-button.is-disabled:active {
    background-color: transparent;
    border-color: var(--qp-default-disabled-txt);
    color: var(--qp-default-disabled-txt);
    opacity: 0.2;
}
.el-button.el-button--primary {
    background-color: var(--qp-default-accented-bg);
    border-color: var(--qp-default-accented-bg);
    color: var(--qp-default-accented-txt);
    opacity: 1;
}
.el-button.el-button--primary:hover,
.el-button.el-button--primary:focus {
    background-color: var(--qp-default-accented-bg);
    border-color: var(--qp-default-accented-bg);
    color: var(--qp-default-accented-txt);
    opacity: 0.6;
}
.el-button.el-button--primary:active {
    background-color: var(--qp-default-accented-bg);
    border-color: var(--qp-default-accented-bg);
    color: var(--qp-default-accented-txt);
    opacity: 0.4;
}

.el-card {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.el-card.is-always-shadow {
    box-shadow: none;
}
.el-card__body {
    background-color: var(--qp-default-bg);
    border-radius: 4px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 4%);
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    padding: 0;
}

.el-col {
    padding: 12px;
}

.el-dialog {
    background-color: var(--qp-default-bg);
    color: var(--qp-default-txt);
}
.el-dialog__title {
    color: var(--qp-default-txt);
}
.el-dialog__body {
    color: var(--qp-default-txt);
}

/* ===--- FORM ---=== */

.el-input__wrapper,
.el-input__wrapper:hover,
.el-input__wrapper.is-focus,
.el-textarea__inner,
.el-textarea__inner:hover,
.el-textarea__inner:focus,
.el-textarea__inner.is-focus {
    background-color: var(--qp-form-bg);
    border-radius: 0;
    color: var(--qp-form-txt);
    box-shadow: none;
}
.el-input__inner,
.el-textarea__inner {
    color: var(--qp-form-txt);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    line-height: 120%;
}
.el-input__inner:hover,
.el-input__inner:focus,
.el-textarea__inner:hover,
.el-textarea__inner:focus {
    color: var(--qp-form-txt);
}
.el-input__inner::placeholder,
.el-textarea__inner::placeholder {
    color: var(--qp-form-placeholder);
}

.el-form-item__label {
    color: var(--qp-default-txt);
}

/* ===--- LOADING ---=== */

.el-image__placeholder {
    background-color: var(--qp-default-disabled-bg);
}

/* ===--- LOADING ---=== */

.el-loading-spinner {
    transform: scale(2);
}
.el-loading-spinner .path {
    stroke-width: 6px;
}

/* ===--- MENU ---=== */

.el-menu {
    border: none;
}
.el-menu--horizontal {
    border: none;
}
.el-menu--horizontal > .el-menu-item,
.el-menu--horizontal > .el-menu-item.is-active {
    border: none;
    align-self: center;
}
.el-menu--horizontal > .el-sub-menu .el-sub-menu__title,
.el-menu--horizontal > .el-sub-menu .el-sub-menu__title:hover,
.el-menu--horizontal > .el-sub-menu.is-active .el-sub-menu__title {
    background-color: transparent;
    border: none;
}
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-sub-menu__title {
    color: var(--qp-default-txt);
}
.el-menu--horizontal .el-menu .el-menu-item.qp-multiline {
    line-height: 120%;
    white-space: normal;
    display: block;
    height: auto;
    padding: 10px;
}
.el-menu hr {
    background-color: var(--qp-default-txt);
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 1px;
    opacity: 0.1;
    padding: 0;
    margin: 5px 0;
}

/* ===--- PAGINATION ---=== */

.el-pagination {
    flex: 1 1 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 0 auto;
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    background-color: var(--qp-default-bg);
    box-shadow: 0 0 3px rgb(0, 0, 0, 4%);
}
.el-pagination.is-background .btn-next:disabled,
.el-pagination.is-background .btn-prev:disabled {
    background-color: var(--qp-default-bg);
}
.el-pagination.is-background .el-pager li:not(.is-disabled):hover,
.el-pagination.is-background .btn-next:hover:not([disabled]),
.el-pagination.is-background .btn-prev:hover:not([disabled]) {
    opacity: 0.7;
}

/* ===--- POPPER ---=== */

.el-popper.is-light {
    background-color: var(--qp-default-bg);
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 4%);
}
.el-popper.is-light .el-popper__arrow::before {
    background-color: var(--qp-default-bg);
    border: none;
}
.el-popover.el-popper {
    color: var(--qp-default-txt);
}

/* ===--- PROGRESS ---=== */

.el-progress-bar__outer {
    background-color: var(--qp-default-disabled-bg);
}
.el-progress-bar__inner {
    background-color: var(--qp-primary);
}

/* ===--- RESULT ---=== */

.el-result__title p {
    color: var(--qp-default-txt);
}
.el-result__subtitle p {
    color: var(--qp-default-txt);
    opacity: 0.6;
}

/* ===--- SCROLLBAR ---=== */

.el-scrollbar {
    --el-scrollbar-bg-color: var(--qp-default-txt);
    --el-scrollbar-hover-bg-color: var(--qp-default-txt);
}

/* ===--- TAG ---=== */

.el-tag--plain {
    --el-tag-border-color: var(--qp-default-disabled-txt);
    --el-tag-hover-color: var(--qp-default-disabled-txt);
    color: var(--qp-default-txt);
}
.el-tag--plain.el-tag--danger {
    --el-tag-border-color: var(--el-color-danger);
    --el-tag-hover-color: var(--el-color-danger);
    color: var(--el-color-danger);
}
