:root {
    --el-fill-color-blank: transparent;
    --el-menu-hover-bg-color: transparent;
    --el-color-primary: var(--qp-primary);
    --el-color-primary-light-3: var(--qp-primary-lighten-3);
    --el-color-primary-light-5: var(--qp-primary-lighten-5);
    --el-color-primary-light-7: var(--qp-primary-lighten-7);
    --el-color-primary-light-8: var(--qp-primary-lighten-8);
    --el-color-primary-light-9: var(--qp-primary-lighten-9);
    --el-color-primary-dark-2: var(--qp-primary-darken-2);
    --el-color-error: #bf0606;
    --el-color-error-light-3: #cebcbe;
    --el-color-error-light-5: #cebcbe;
    --el-color-error-light-7: #cebcbe;
    --el-color-error-light-8: #cebcbe;
    --el-color-error-light-9: #cebcbe;
    --el-color-error-dark-2: #c45656;
}

.el-alert.is-light .el-alert__close-btn {
    color: var(--qp-primary);
}

.el-avatar {
    --el-avatar-bg-color: var(--qp-secondary);
    --el-avatar-text-color: var(--qp-bg);
}

.el-button {
    border-color: var(--qp-secondary);
    color: var(--qp-primary);
}

.el-card {
    background-color: var(--qp-dark);
    border: none;
    color: var(--qp-text-light);
}
.el-card.is-always-shadow {
    box-shadow: none;
}

.el-col {
    padding: 10px;
}

.el-loading-spinner {
    transform: scale(2);
}
.el-loading-spinner .path {
    stroke-width: 6px;
}

.el-menu {
    border-right: none;
}

.el-pagination {
    flex: 1 1 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 0 auto;
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    background-color: var(--qp-base);
    box-shadow: 0 0 3px rgb(67, 82, 89, 4%);
}
.el-pagination.is-background .btn-next:disabled,
.el-pagination.is-background .btn-prev:disabled {
    background-color: var(--qp-base);
}
.el-pagination.is-background .el-pager li:not(.is-disabled):hover,
.el-pagination.is-background .btn-next:hover:not([disabled]),
.el-pagination.is-background .btn-prev:hover:not([disabled]) {
    opacity: 0.7;
}
